<!-- Ralph Abona, Avril 2020 -->
<!DOCTYPE html>
<html lang="fr">

<head>

    <!-- Métadonnées -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Titre -->
    <title>Grady</title>

    <!-- Favicon/logo -->
    <link href="/static/assets/img/favicon.png" rel="icon">
    <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Fichiers CSS -->
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="static/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/assets/css/style.css" rel="stylesheet">

</head>

<!-- Corps -->
<body>

    <!-- ======= Entête ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container">
            <div class="header-container d-flex align-items-center">
                <div class="logo mr-auto">
                    <h1 class="text-light"><a href="index.html"><span>Grady</span></a></h1>
                </div>

        <!-- Navigation -->
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="#header">Acceuil</a></li>
                <li><a href="#pres">Présentation</a></li>
                <li><a href="#why">Pourquoi ?</a></li>
                <li><a href="#team">L'équipe</a></li>
                <li><a href="#testimonials">Enseignements</a></li>
                <li class="drop-down"><a href="">À propos</a>
                    <ul>
                        <li><a href="#about">Le projet</a></li>
                        <li><a href="#">Documentation</a></li>
                        <li class="drop-down"><a href="#credits">Crédits</a>
                            <ul>
                                <li><a href="#">Html</a></li>
                                <li><a href="#">css</a></li>
                                <li><a href="#">js</a></li>
                                <li><a href="#">Images</a></li>
                                <li><a href="#">Remerciements</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            <li class="get-started"><a href="/app">Utiliser</a></li>
            </ul>
        </nav>
            </div>
        </div>
    </header>

    <!-- ======= Section "utiliser" ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="400">
            <h1>Votre nouvel outil</h1>
            <h2>Visualisation de soumissions INGInious</h2>
            <a href="/app" class="btn-get-started scrollto">Utiliser</a>
        </div>
    </section>

    <main id="main">

        <!-- ======= Section Logos ======= -->
        <section id="clients" class="clients" >
            <div class="container" >
                <div class="row">
                    <div class="col" data-aos="zoom-in" data-aos-delay="500">
                        <a href="https://uclouvain.be/">
                            <img src="static/assets/img/clients/client-1.png" class="img-fluid" alt=""><!-- Logo et lien UCLouvain -->
                        </a>
                    </div>

                    <div class="col" data-aos="zoom-in" data-aos-delay="1000">
                        <a href="https://uclouvain.be/fr/facultes/epl/">
                            <img src="static/assets/img/clients/client-2.png" class="img-fluid" alt=""><!-- Logo et lien EPL -->
                        </a>
                    </div>

                    <div class="col" data-aos="zoom-in" data-aos-delay="1500">
                        <a href="https://inginious.org">
                            <img src="static/assets/img/clients/client-3.png" class="img-fluid" alt=""><!-- Logo et lien INGInious -->
                        </a>
                    </div>
                </div>
            </div>
        </section>

    <!-- ======= Section "présentation" ======= -->
    <section id="pres" class="about">
        <div class="container">

            <div class="row content">
                <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                    <h2>Second projet : site web de visualisation</h2>
                    <h3>Réaliser une application/site web capable d'extraire des informations d'une base de données sqlite et d'en faire des charts</h3>
                </div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
                <p>
            Durant le premier projet, on nous a proposé d'écrire nos propres exercices en python pour la plateforme INGInious qui est déployée à l’UCLouvain, et où des dizaines de milliers de soumissions sont faites chaque semaine. Le but de ce projet est de synthétiser les soumissions qui y sont faites grâce à un application qui :
                </p>
            <ul>
              <li><i></i>- Fonctionne grâce au framework <a href="https://chartjs.org/"><b>Flask</b></a></li>
              <li><i></i>- Synthétise les données de manière pertinente</li>
              <li><i></i>- Affiche des tableaux <a href="https://palletsprojects.com/p/flask/"><b>Chart.js</b></a></li></li>
            </ul>
            <p class="font-italic">
              Nous avons utilisé plusieurs éléments css et bootstrap déjà existants, tout est dans l'onglet "crédits"
            </p>
          </div>
        </div>

      </div>
    </section>

    <!-- ======= Section décompte ======= -->
    <section id="counts" class="counts">
      <div class="container">
        <div class="container text-center position-relative" data-aos="zoom-in" data-aos-delay="100">
            <h2><b>Quantité de données à traiter</b></h2>
            <h6>(sur base des consignes et de la base de donnée fournie) IGNInious en 2019 c'est :</h6>
        </div>
        <div class="row counters">
          <div class="col-lg-3 col-6 text-center">
            <p>plus de</p>
            <span data-toggle="counter-up">3000</span>
            <p>étudiants</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <p>exactement</p>
            <span data-toggle="counter-up">885323</span>
            <p>soumissions</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <p>environ</p>
            <span data-toggle="counter-up">400</span>
            <p>tâches</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <p>parmis</p>
            <span data-toggle="counter-up">3</span>
            <p>cours différents</p>
          </div>

        </div>

      </div>
    </section>

    <!-- ======= Section "pourquoi" ======= -->
    <section id="why" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-right">
            <div class="content">
              <h3>Quel est l'intérêt d'un tel projet ?</h3>
              <p>
                Un tel projet a plusieurs utilités qui sont bien évidemment plus amplement expliquées dans la documentation de celui ci
              </p>
              <div class="text-center">
                <a href="#" class="more-btn">Documentation <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Résumé</h4>
                    <p>Synthétise efficacement la grosse quantité de données fournie</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube"></i>
                    <h4>Lisibilité</h4>
                    <p>Par la présentation et le format, rends plus lisible et compréhensible les données d'un fichier sqlite pour un être humain</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-tachometer"></i>
                    <h4>Gain de temps</h4>
                    <p>Une application de ce type permet d'analyser beaucoup plus vite des données que de devoir manuellement éplucher le fichier .SQLite à la recherche du renseignement qui nous intéresse</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

        <!-- ======= Section Git ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="text-center" data-aos="zoom-in">
          <h3>Opensource</h3>
          <p> Le document du projet est disponible pour tous sur GitHub</p>
          <a class="cta-btn" href="#">Git</a><!-- Logo et lien INGInious -->
        </div>

      </div>
    </section>


    <!-- ======= Section "l'équipe" ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="row">
          <div class="col-sm-8">
              <div class="section-title" data-aos="fade-right" style = "position:relative; top:80px;">

                <h2>L'équipe</h2>
                <p>Composition et répartition des tâches au sein du groupe qui est le même que pour le précedent projet et celui du premier quadrimestre à une personne près.</p>
              </div>
          <div class="col-sm-4" style = "position:relative; left:800px; top:-180px;">
              <div class="member" data-aos="zoom-in" data-aos-delay="100">
                  <div class="pic"><img src="static/assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Maxime Piraux</h4>
                    <span>Tuteur</span>
                    <p>Consignes et coordination</p>
                    <div class="social">
                      <a href=""><i class="ri-mail-fill"></i></a>
                    </div>
                </div>
                </div>
               </div>
          </div>
         </div>
          <div class="row" style = "position:relative; top:-80px;">
              <div class="col-sm">
                <div class="member" data-aos="zoom-in" data-aos-delay="200">
                  <div class="pic"><img src="static/assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Ralph Abona</h4>
                    <span>HTML, CSS, JS et Chart.js</span>
                    <p>Réalisation de la quasi-totalité partie du site web HTML et de tout l'habillage (CSS et JS) du site web et des diagrammes Chart.js</p>
                    <div class="social">
                      <a href="mailto:ralph.abona@student.uclouvain.be"><i class="ri-mail-fill"></i></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm">
                <div class="member" data-aos="zoom-in" data-aos-delay="300">
                  <div class="pic"><img src="static/assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Igor Bertrand</h4>
                    <span>Python et SQLite</span>
                    <p>Majeure partie de l'application flask, code app.py, extraction des données de la base de données inginious.sqlite</p>
                    <div class="social">
                      <a href="mailto:igor.bertrand@student.uclouvain.be"><i class="ri-mail-fill"></i></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm">
                <div class="member" data-aos="zoom-in" data-aos-delay="400">
                  <div class="pic"><img src="static/assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Romain Carlier</h4>
                    <span>Flask et Chart.js</span>
                    <p>Application flask et Charts. Ecriture du rapport de projet</p>
                    <div class="social">
                      <a href="mailto:romain.carlier@student.uclouvain.be"><i class="ri-mail-fill"></i></a>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
    </section>

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="section-title" data-aos="fade-right">
              <h2>Enseignements</h2>
              <p>Qu'avons nous appris durant la réalisation de ce projet ?</p>
            </div>
          </div>
          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
            <div class="owl-carousel testimonials-carousel">

              <div class="testimonial-item">
                    <p>
                        <div style = "position:relative; top:-10px;">
                            <!-- Titre du feedback -->
                            <h4>Approfondissement</h4>
                        </div>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      <!-- Feedback -->
                      Projet très enrichissant car il m'a permis de mettre en pratique des connaissaces en HTML et CSS et JS que j'avais déjà et de m'intéresser de plus près à des outils tels que <a href="https://palletsprojects.com/p/flask/"><b>Flask</b></a>, <a href="https://chartjs.org"><b>Chart.js</b></a> ou encore SQLite que je connais peu ou pas.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                <img src="static/assets/img/team/team-2.jpg" class="testimonial-img" alt="">
                <!-- Nom -->
                <h3>Ralph Abona</h3>
              </div>

              <div class="testimonial-item">
                <p>
                <!-- Titre du feedback -->
                <h4>Découvertes</h4>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  <!-- Feedback -->
                  Grâce à ce projet, j'ai découvert de nombreux nouveaux outils tel que le language HTML/CSS, qui permet la création de sites internets, mais aussi les micro framework, dans notre cas, Flask, qui seront, j'en suis sûr, très important dans notre future vie professionelle.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/assets/img/team/team-3.jpg" class="testimonial-img" alt="">
                <!-- Nom -->
                <h3>Igor Bertrand</h3>
              </div>
              <div class="testimonial-item">
                <p>
                <!-- Titre du feedback -->
                <h4>Projet très intéressant</h4>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                   J'ai trouvé ce projet très intéressant de pleins de points de vue. Autant dans la réalisation de bout en bout d'une application que web, que les bases de données où même l'application Flask. Un bon aperçu de ce qui peut nous attendre plus tard dans notre parcours.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/assets/img/team/team-4.jpg" class="testimonial-img" alt="">
                <h3>Romain Carlier</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- ======= Pied de page ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; LINFO1002 Projet 2 <strong><span>Groupe A10</span></strong>. Avril 2020
        </div>
        <div class="credits">
          Design par <a href="mailto:ralph.abona@uclouvain.be">Ralph Abona</a>
        </div>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Fichiers JS -->
    <script src="static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="static/assets/vendor/php-email-form/validate.js"></script>
    <script src="static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="static/assets/vendor/counterup/counterup.min.js"></script>
    <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/assets/vendor/venobox/venobox.min.js"></script>
    <script src="static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="static/assets/vendor/aos/aos.js"></script>
    <script src="static/assets/js/main.js"></script>

</body>

</html>
