<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Grady</title>
  
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
      
  <!-- Icons -->
  <link href="../static/assets/css/nucleo-icons.css" rel="stylesheet" />
    

  <!-- CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">

  <link href="../static/assets/css/style.css" rel="stylesheet">
      
  <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../static/assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />


</head>
<body style="margin-top:100px;">
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      <div class="header-container d-flex align-items-center">
        <div class="logo mr-auto">
          <h1 class="text-light"><span></span>
          </h1>
        </div>
        

        <nav class="nav-menu d-none d-lg-block">
          <ul>
                <li><a href="#header">Acceuil</a></li>
                <li><a href="#pres">Présentation</a></li>
                <li><a href="#why">Pourquoi ?</a></li>
                <li><a href="#team">L'équipe</a></li>
                <li><a href="#testimonials">Enseignements</a></li>
                <li class="drop-down"><a href="">À propos</a>
                  <ul>
                    <li><a href="#about">Le projet</a></li>
                    <li><a href="#">Documentation</a></li>
                    <li class="drop-down"><a href="#credits">Crédits</a>
                      <ul>
                        <li><a href="#">Html</a></li>
                        <li><a href="#">css</a></li>
                        <li><a href="#">js</a></li>
                        <li><a href="#">Images</a></li>
                        <li><a href="#">Remerciements</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
          </ul>
        </nav><!-- .nav-menu -->
      </div><!-- End Header Container -->
    </div>
  </header><!-- End Header -->

  <center style = "position:relative; top:25px;">
      <h2><b>Sélectionnez un cours parmi ces trois ci-dessous</b></h2>
  </center>
  
  <center>
      <div>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" style = "position:relative; top:+20px;">
              <label class="btn btn-sm btn-primary btn-simple active">
                  <input type="radio" name="options" autocomplete="off" checked> LEPL1402
              </label>
              <label class="btn btn-sm btn-primary btn-simple " href="/stat/LSINF1101">
                  <a href="/stat/LSINF1101_PYTHON">
                      <input type="radio" name="options" autocomplete="off" href="/stat/LSINF1101_PYTHON"> LSINF1101
                  </a>
              </label>
              <label class="btn btn-sm btn-primary btn-simple ">
                  <a href="/stat/LSINF1252">
                      <input type="radio" name="options" autocomplete="off" href="/stat/LSINF1252"> LSINF1252
                  </a>
              </label>
         </div>
      </div>
  </center>

 <center>
  <div class="card-body" style = "position:relative; top:+20px;">
  <div class="table-responsive">
    <table class="table tablesorter " id="">
      <thead class=" text-primary">
          <th>
            <b>Cliquez sur la tâche dont vous souhaitez obtenir les données</b>
          </th>
      </thead>
      <tbody>
          <tr>
            <td>
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                      <li><a href="/stat/ASCIIDecoder">ASCIIDecoder</a></li>
                      <li><a href="/stat/AbstractClass">AbstractClass</a></li>
                      <li><a href="/stat/AccessModifiers">AccessModifiers</a></li>
                      <li><a href="/stat/Array2D">Array2D</a></li>
                      <li><a href="/stat/BlackBox">BlackBox</a></li>
                      <li><a href="/stat/BoundedBuffer">BoundedBuffer</a></li>
                      <li><a href="/stat/BubbleSortInvariant">BubbleSortInvariant</a></li>
                      <li><a href="/stat/Casting">Casting</a></li>
                      <li><a href="/stat/CircularLL">CircularLL</a></li>
                      <li><a href="/stat/CodeAccuracy">CodeAccuracy</a></li>
                      <li><a href="/stat/CodeAccuracy2">CodeAccuracy2</a></li>
                      <li><a href="/stat/CommonErrors">CommonErrors</a></li>
                      <li><a href="/stat/ComparatorAndCollections">ComparatorAndCollections</a></li>
                      <li><a href="/stat/ComparatorvsComparable">ComparatorvsComparable</a></li>
                      <li><a href="/stat/ComplexityArraySearch">ComplexityArraySearch</a></li>
                      <li><a href="/stat/ComplexityMCQ1">ComplexityMCQ1</a></li>
                      <li><a href="/stat/ComplexitySpaceMCQ">ComplexitySpaceMCQ</a></li>
                      <li><a href="/stat/Coverage">Coverage</a></li>
                      <li><a href="/stat/CyclicBarrier">CyclicBarrier</a></li>
                      <li><a href="/stat/FList">FList</a></li>
                      <li><a href="/stat/FListMergeSort">FListMergeSort</a></li>
                      <li><a href="/stat/FTree">FTree</a></li>
                 </div>
                 <div class="col-sm">
                      <li><a href="/stat/FListMergeSort">FListMergeSort</a></li>
                      <li><a href="/stat/FTree">FTree</a></li>
                      <li><a href="/stat/Factory">Factory</a></li>
                      <li><a href="/stat/Fibonacci">Fibonacci</a></li>
                      <li><a href="/stat/Future">Future</a></li>
                      <li><a href="/stat/Generics">Generics</a></li>
                      <li><a href="/stat/Generics2">Generics2</a></li>
                      <li><a href="/stat/Generics3">Generics3</a></li>
                      <li><a href="/stat/HanoiTower">HanoiTower</a></li>
                      <li><a href="/stat/InfiniteStreams">InfiniteStreams</a></li>
                      <li><a href="/stat/Inheritance">Inheritance</a></li>
                      <li><a href="/stat/Introduction">Introduction</a></li>
                      <li><a href="/stat/LambdaExpressioninJava">LambdaExpressioninJava</a></li>
                      <li><a href="/stat/LearnException">LearnException</a></li>
                      <li><a href="/stat/MakeMistakeToUnderstandThem">MakeMistakeToUnderstandThem</a></li>
                      <li><a href="/stat/MaximumSumSubarray">MaximumSumSubarray</a></li>
                      <li><a href="/stat/MergeSortImplementation">MergeSortImplementation</a></li>
                      <li><a href="/stat/MidTermQuiz">MidTermQuiz</a></li>
                      <li><a href="/stat/MidTermQuizMCQ">MidTermQuizMCQ</a></li>
                      <li><a href="/stat/MidTermQuizMCQ2">MidTermQuizMCQ2</a></li>
                      <li><a href="/stat/MyArrayList">MyArrayList</a></li>
                      <li><a href="/stat/Observer">Observer</a></li>
                  </div>
                  <div class="col-sm">
                      <li><a href="/stat/Optional">Optional</a></li>
                      <li><a href="/stat/ParallelelMergeSort">ParallelelMergeSort</a></li>
                      <li><a href="/stat/PostScript">PostScript</a></li>
                      <li><a href="/stat/ProducerConsumer">ProducerConsumer</a></li>
                      <li><a href="/stat/QueueWithStacks">QueueWithStacks</a></li>
                      <li><a href="/stat/SharedCounter">SharedCounter</a></li>
                      <li><a href="/stat/SieveOfEratosthenesImplementation">SieveOfEratosthenesImplementation</a></li>
                      <li><a href="/stat/SieveOfEratosthenesMCQ">SieveOfEratosthenesMCQ</a></li>
                      <li><a href="/stat/StackWithQueue">StackWithQueue</a></li>
                      <li><a href="/stat/Streams">Streams</a></li>
                      <li><a href="/stat/Streams2">Streams2</a></li>
                      <li><a href="/stat/StringUtils">StringUtils</a></li>
                      <li><a href="/stat/ThreadsIntroduction">ThreadsIntroduction</a></li>
                      <li><a href="/stat/TreeCombineWith">TreeCombineWith</a></li>
                      <li><a href="/stat/TreeInorder">TreeInorder</a></li>
                      <li><a href="/stat/TreeSame">TreeSame</a></li>
                      <li><a href="/stat/ValueOrReference">ValueOrReference</a></li>
                      <li><a href="/stat/Visitor">Visitor</a></li>
                      <li><a href="/stat/VisitorBasic">VisitorBasic</a></li>
                      <li><a href="/stat/complexityMCQ2">complexityMCQ2</a></li>
                      <li><a href="/stat/fail">fail</a></li>
                      <li><a href="/stat/valley">valley</a></li>
                 </div>
               </div>
              </div>
            </td>
          </tr>
      </tbody>
     </table>
 </div>
</center>
<ul style="margin-left:25%;">
</ul>

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- V JS Files -->
    <script src="static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="static/assets/vendor/php-email-form/validate.js"></script>
    <script src="static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="static/assets/vendor/counterup/counterup.min.js"></script>
    <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/assets/vendor/venobox/venobox.min.js"></script>
    <script src="static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="static/assets/vendor/aos/aos.js"></script>
    <script src="static/assets/js/black-dashboard.min.js?v=1.0.0" type="text/javascript"></script>
    <script src="static/assets/js/plugins/bootstrap-notify.js"></script>

    <!-- Chart JS -->
    <script src="static/assets/js/plugins/chartjs.min.js"></script>
    
    <!-- Main JS File -->
    <script src="static/assets/js/main.js"></script>
    
    <!--   Core JS Files   -->
    <script src="static/assets/js/core/jquery.min.js"></script>
    <script src="static/assets/js/core/popper.min.js"></script>
    <script src="static/assets/js/core/bootstrap.min.js"></script>
    <script src="static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>

    <!-- Black Dashboard js -->
    <script src="static/assets/demo/demo.js"></script>
    <script>
      $(document).ready(function() {
        $().ready(function() {
          $sidebar = $('.sidebar');
          $navbar = $('.navbar');

          $full_page = $('.full-page');

          $sidebar_responsive = $('body > .navbar-collapse');
          sidebar_mini_active = true;
          white_color = false;

          window_width = $(window).width();

          fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



          $('.fixed-plugin a').click(function(event) {
            if ($(this).hasClass('switch-trigger')) {
              if (event.stopPropagation) {
                event.stopPropagation();
              } else if (window.event) {
                window.event.cancelBubble = true;
              }
            }
          });

          $('.fixed-plugin .background-color span').click(function() {
            $(this).siblings().removeClass('active');
            $(this).addClass('active');

            var new_color = $(this).data('color');

            if ($sidebar.length != 0) {
              $sidebar.attr('data-color', new_color);
            }

            if ($navbar.length != 0) {
              $navbar.attr('data-color', new_color);
            }

            if ($full_page.length != 0) {
              $full_page.attr('filter-color', new_color);
            }

            if ($sidebar_responsive.length != 0) {
              $sidebar_responsive.attr('data-color', new_color);
            }
          });

          $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
            var $btn = $(this);

            if (sidebar_mini_active == true) {
              $('body').removeClass('sidebar-mini');
              sidebar_mini_active = false;
              blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
            } else {
              $('body').addClass('sidebar-mini');
              sidebar_mini_active = true;
              blackDashboard.showSidebarMessage('Sidebar mini activated...');
            }

            var simulateWindowResize = setInterval(function() {
              window.dispatchEvent(new Event('resize'));
            }, 180);

            setTimeout(function() {
              clearInterval(simulateWindowResize);
            }, 1000);
          });

          $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
            var $btn = $(this);

            if (white_color == true) {

              $('body').addClass('change-background');
              setTimeout(function() {
                $('body').removeClass('change-background');
                $('body').removeClass('white-content');
              }, 900);
              white_color = false;
            } else {

              $('body').addClass('change-background');
              setTimeout(function() {
                $('body').removeClass('change-background');
                $('body').addClass('white-content');
              }, 900);

              white_color = true;
            }


          });

          $('.light-badge').click(function() {
            $('body').addClass('white-content');
          });

          $('.dark-badge').click(function() {
            $('body').removeClass('white-content');
          });
        });
      });
    </script>
    <script>
      $(document).ready(function() {
          
        demo.initDashboardPageCharts();

      });
    </script>

    <footer id="footer">

      <div class="container d-md-flex py-4">

        <div class="mr-md-auto text-center text-md-left">
          <div class="copyright">
            &copy; LINFO1002 Projet 2 <strong><span>Groupe A10</span></strong>. Avril 2020
          </div>
          <div class="credits">
            Design par <a href="mailto:ralph.abona@uclouvain.be">Ralph Abona</a>
          </div>
        </div>
      </div>
    </footer><!-- End Footer -->
    
</body>

</html>
