<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Grady</title>
  
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicon/Logo -->
  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Polices -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">    
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
      
  <!-- Icônes -->
  <link href="../static/assets/css/nucleo-icons.css" rel="stylesheet" />
    

  <!-- CSS -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">

  <link href="../static/assets/css/style.css" rel="stylesheet">
      
  <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../static/assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />


</head>

<body style="margin-top:100px;">
    
  <!-- ======= Entête ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      <div class="header-container d-flex align-items-center">
        <div class="logo mr-auto">
          <h1 class="text-light"><span></span>
          </h1>
        </div>
        

        <nav class="nav-menu d-none d-lg-block">
          <ul>
                <li><a href="#header">Acceuil</a></li>
                <li><a href="#pres">Présentation</a></li>
                <li><a href="#why">Pourquoi ?</a></li>
                <li><a href="#team">L'équipe</a></li>
                <li><a href="#testimonials">Enseignements</a></li>
                <li class="drop-down"><a href="">À propos</a>
                  <ul>
                    <li><a href="#about">Le projet</a></li>
                    <li><a href="#">Documentation</a></li>
                    <li class="drop-down"><a href="#credits">Crédits</a>
                      <ul>
                        <li><a href="#">Html</a></li>
                        <li><a href="#">css</a></li>
                        <li><a href="#">js</a></li>
                        <li><a href="#">Images</a></li>
                        <li><a href="#">Remerciements</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <center style = "position:relative; top:25px;">
      <h2><b>Sélectionnez un cours parmi ces trois ci-dessous</b></h2>
  </center>
  
  <center>
      <div>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" style = "position:relative; top:+20px;">
              <label class="btn btn-sm btn-primary btn-simple">
			      <a href="/stat/LEPL1402">
                  <input type="radio" name="options" autocomplete="off" href="/stat/LEPL1402"> LEPL1402
				  </a>
              </label>
              <label class="btn btn-sm btn-primary btn-simple active" href="/stat/LSINF1101">
                      <input type="radio" name="options" autocomplete="off" checked> LSINF1101
              </label>
              <label class="btn btn-sm btn-primary btn-simple ">
                  <a href="/stat/LSINF1252">
                      <input type="radio" name="options" autocomplete="off" href="/stat/LSINF1252"> LSINF1252
                  </a>
              </label>
         </div>
      </div>
  </center>

 <center>
  <div class="card-body" style = "position:relative; top:+20px;">
  <div class="table-responsive">
    <table class="table tablesorter " id="">
      <thead class=" text-primary">
          <th>
            <b>Cliquez sur la tâche dont vous souhaitez obtenir les données</b>
          </th>
      </thead>
      <tbody>
          <tr>
            <td>
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                      <li><a href="/stat/2degree">2degree</a></li>
                      <li><a href="/stat/2degree2">2degree2</a></li>
                      <li><a href="/stat/Acc">Acc</a></li>
                      <li><a href="/stat/Ajoute">Ajoute</a></li>
                      <li><a href="/stat/AmazonConstructor">AmazonConstructor</a></li>
                      <li><a href="/stat/AmazonPay">AmazonPay</a></li>
                      <li><a href="/stat/Average">Average</a></li>
                      <li><a href="/stat/Append">Append</a></li>
                      <li><a href="/stat/Assistant">Assistant</a></li>
                      <li><a href="/stat/Bath">Bath</a></li>
                      <li><a href="/stat/BinarySearch">BinarySearch</a></li>
                      <li><a href="/stat/Carre">Carre</a></li>
                      <li><a href="/stat/Compose">Compose</a></li>
                      <li><a href="/stat/ComprehensionTranslation">ComprehensionTranslation</a></li>
                      <li><a href="/stat/Coordinates">Coordinates</a></li>
                      <li><a href="/stat/Count">Count</a></li>
                      <li><a href="/stat/Count2">Count2</a></li>
                      <li><a href="/stat/CountNested">CountNested</a></li>
                      <li><a href="/stat/Counters">Counters</a></li>
                      <li><a href="/stat/DebtReminder">DebtReminder</a></li>
                      <li><a href="/stat/DeepConcat">DeepConcat</a></li>
                      <li><a href="/stat/DestroyAllEnnemies">DestroyAllEnnemies</a></li>
                      <li><a href="/stat/DestroyAnEnnemy">DestroyAnEnnemy</a></li>
                      <li><a href="/stat/DictCreation">DictCreation</a></li>
                      <li><a href="/stat/DictCreationMax">DictCreationMax</a></li>
                      <li><a href="/stat/DictKeyAccess">DictKeyAccess</a></li>
                      <li><a href="/stat/DiffCount">DiffCount</a></li>
                      <li><a href="/stat/DoubleLink">DoubleLink</a></li>
                      <li><a href="/stat/DummyScript">DummyScript</a></li>
                      <li><a href="/stat/Equals">Equals</a></li>
                      <li><a href="/stat/Exam-ClientListUpdate">Exam-ClientListUpdate</a></li>
                      <li><a href="/stat/Exam-Enonce">Exam-Enonce</a></li>
                      <li><a href="/stat/Exam-LoadMatrix">Exam-LoadMatrix</a></li>
                      <li><a href="/stat/Exam-PlusFrequent">Exam-PlusFrequent</a></li>
                      <li><a href="/stat/Exam-RainFall">Exam-RainFall</a></li>
                      <li><a href="/stat/Exceptions">Exceptions</a></li>
                      <li><a href="/stat/Factorial">Factorial</a></li>
                      <li><a href="/stat/Fibonacci">Fibonacci</a></li>
                      <li><a href="/stat/FileReading">FileReading</a></li>
                      <li><a href="/stat/FirstSum">FirstSum</a></li>
                      <li><a href="/stat/FizzBuzz">FizzBuzz</a></li>
                      <li><a href="/stat/Flatten">Flatten</a></li>
                      <li><a href="/stat/GCD">GCD</a></li>
                      <li><a href="/stat/GD">GD</a></li>
                      <li><a href="/stat/GUI">GUI</a></li>
                      <li><a href="/stat/Hello">Hello</a></li>
                      <li><a href="/stat/HighOrder">HighOrder</a></li>
                      <li><a href="/stat/Hogwarts-I">Hogwarts-I</a></li>
                      <li><a href="/stat/Hogwarts-II">Hogwarts-II</a></li>
                      <li><a href="/stat/Hogwarts-III">Hogwarts-III</a></li>
                      <li><a href="/stat/Hogwarts-IV">Hogwarts-IV</a></li>
                 </div>
                 <div class="col-sm">
                      <li><a href="/stat/Hogwarts-V">Hogwarts-V</a></li>
                      <li><a href="/stat/Interests">Interests</a></li>
                      <li><a href="/stat/Interval">Interval</a></li>
                      <li><a href="/stat/LinkedList">LinkedList</a></li>
                      <li><a href="/stat/LinkedListChildren">LinkedListChildren</a></li>
                      <li><a href="/stat/LinkedListEndRemove">LinkedListEndRemove</a></li>
                      <li><a href="/stat/LinkedListInit">LinkedListInit</a></li>
                      <li><a href="/stat/LinkedListInsert">LinkedListInsert</a></li>
                      <li><a href="/stat/LinkedListRemove">LinkedListRemove</a></li>
                      <li><a href="/stat/LinkedListStr">LinkedListStr</a></li>
                      <li><a href="/stat/LoadSaveGame">LoadSaveGame</a></li>
                      <li><a href="/stat/Map">Map</a></li>
                      <li><a href="/stat/Max">Max</a></li>
                      <li><a href="/stat/Median">Median</a></li>
                      <li><a href="/stat/Memoization">Memoization</a></li>
                      <li><a href="/stat/MergeList">MergeList</a></li>
                      <li><a href="/stat/Min">Min</a></li>
                      <li><a href="/stat/Morse">Morse</a></li>
                      <li><a href="/stat/NCompose">NCompose</a></li>
                      <li><a href="/stat/NestParticipants">NestParticipants</a></li>
                      <li><a href="/stat/NestedMin">NestedMin</a></li>
                      <li><a href="/stat/PairOpposite">PairOpposite</a></li>
                      <li><a href="/stat/PairOrdered">PairOrdered</a></li>
                      <li><a href="/stat/PairSame">PairSame</a></li>
                      <li><a href="/stat/Participants">Participants</a></li>
                      <li><a href="/stat/PathModule">PathModule</a></li>
                      <li><a href="/stat/PatternExtraction-I">PatternExtraction-I</a></li>
                      <li><a href="/stat/PatternExtraction-II">PatternExtraction-II</a></li>
                      <li><a href="/stat/PatternExtraction-III">PatternExtraction-III</a></li>
                      <li><a href="/stat/Polynomial">Polynomial</a></li>
                      <li><a href="/stat/Prime">Prime</a></li>
                      <li><a href="/stat/Primes">Primes</a></li>
                      <li><a href="/stat/QBF01">QBF01</a></li>
                      <li><a href="/stat/QBF02">QBF02</a></li>
                      <li><a href="/stat/QBF03">QBF03</a></li>
                      <li><a href="/stat/QBF04">QBF04</a></li>
                      <li><a href="/stat/QBF05">QBF05</a></li>
                      <li><a href="/stat/QBF06">QBF06</a></li>
                      <li><a href="/stat/QBF07">QBF07</a></li>
                      <li><a href="/stat/QBF08">QBF08</a></li>
                      <li><a href="/stat/QBF09">QBF09</a></li>
                      <li><a href="/stat/QBF10">QBF10</a></li>
                      <li><a href="/stat/QBF10_2019">QBF10_2019</a></li>
                      <li><a href="/stat/QBF11">QBF11</a></li>
                      <li><a href="/stat/Quetelet">Quetelet</a></li>
                      <li><a href="/stat/REAL01">REAL01</a></li>
                      <li><a href="/stat/REAL02">REAL02</a></li>
                      <li><a href="/stat/REAL03">REAL03</a></li>
                      <li><a href="/stat/REAL04">REAL04</a></li>
                      <li><a href="/stat/REAL05">REAL05</a></li>
                  </div>
                  <div class="col-sm">
                      <li><a href="/stat/REAL06">REAL06</a></li>
                      <li><a href="/stat/REAL07">REAL07</a></li>
                      <li><a href="/stat/REAL07Review">REAL07Review</a></li>
                      <li><a href="/stat/REAL08">REAL08</a></li>
                      <li><a href="/stat/REAL09">REAL09</a></li>
                      <li><a href="/stat/REAL10">REAL10</a></li>
                      <li><a href="/stat/REAL10_2019">REAL10_2019</a></li>
                      <li><a href="/stat/REAL11">REAL11</a></li>
                      <li><a href="/stat/REAL12">REAL12</a></li>
                      <li><a href="/stat/RSTTable">RSTTable</a></li>
                      <li><a href="/stat/Recherche">Recherche</a></li>
                      <li><a href="/stat/RecursiveFactorial">RecursiveFactorial</a></li>
                      <li><a href="/stat/RecursiveFibonacci">RecursiveFibonacci</a></li>
                      <li><a href="/stat/RecursiveSum">RecursiveSum</a></li>
                      <li><a href="/stat/Remainder">Remainder</a></li>
                      <li><a href="/stat/SMSStore">SMSStore</a></li>
                      <li><a href="/stat/SessTest_QCM">SessTest_QCM</a></li>
                      <li><a href="/stat/Session10_2019_QCM">Session10_2019_QCM</a></li>
                      <li><a href="/stat/Session10_QCM">Session10_QCM</a></li>
                      <li><a href="/stat/Session11_QCM">Session11_QCM</a></li>
                      <li><a href="/stat/Session1_QCM">Session1_QCM</a></li>
                      <li><a href="/stat/Session2_QCM">Session2_QCM</a></li>
                      <li><a href="/stat/Session3_QCM">Session3_QCM</a></li>
                      <li><a href="/stat/Session4_QCM">Session4_QCM</a></li>
                      <li><a href="/stat/Session5_QCM">Session5_QCM</a></li>
                      <li><a href="/stat/Session6_QCM">Session6_QCM</a></li>
                      <li><a href="/stat/Session7_QCM">Session7_QCM</a></li>
                      <li><a href="/stat/Session8_QCM">Session8_QCM</a></li>
                      <li><a href="/stat/Session9_QCM">Session9_QCM</a></li>
                      <li><a href="/stat/Sieve">Sieve</a></li>
                      <li><a href="/stat/SimpleFactorial">SimpleFactorial</a></li>
                      <li><a href="/stat/SimpleMath">SimpleMath</a></li>
                      <li><a href="/stat/SimpleMax">SimpleMax</a></li>
                      <li><a href="/stat/Sort">Sort</a></li>
                      <li><a href="/stat/SpeedingFine">SpeedingFine</a></li>
                      <li><a href="/stat/StudentConstructor">StudentConstructor</a></li>
                      <li><a href="/stat/StudentFileReading">StudentFileReading</a></li>
                      <li><a href="/stat/StudentInit">StudentInit</a></li>
                      <li><a href="/stat/Sum">Sum</a></li>
                      <li><a href="/stat/SumToComplete">SumToComplete</a></li>
                      <li><a href="/stat/Testing">Testing</a></li>
                      <li><a href="/stat/TextToDic">TextToDic</a></li>
                      <li><a href="/stat/Ticket">Ticket</a></li>
                      <li><a href="/stat/Translator">Translator</a></li>
                      <li><a href="/stat/Triangle">Triangle</a></li>
                      <li><a href="/stat/unittest1">unittest1</a></li>
                      <li><a href="/stat/WrongIterations">WrongIterations</a></li>
                      <li><a href="/stat/ZooGame">ZooGame</a></li>
                 </div>
               </div>
              </div>
            </td>
          </tr>
      </tbody>
     </table>
 </div>
</center>
<ul style="margin-left:25%;">
</ul>

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- JS -->
    <script src="static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="static/assets/vendor/php-email-form/validate.js"></script>
    <script src="static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="static/assets/vendor/counterup/counterup.min.js"></script>
    <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/assets/vendor/venobox/venobox.min.js"></script>
    <script src="static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="static/assets/vendor/aos/aos.js"></script>
    <script src="static/assets/js/black-dashboard.min.js?v=1.0.0" type="text/javascript"></script>
    <script src="static/assets/js/plugins/bootstrap-notify.js"></script>

    <!-- Chart JS -->
    <script src="static/assets/js/plugins/chartjs.min.js"></script>
    
    <!-- JS Principal -->
    <script src="static/assets/js/main.js"></script>
    
    <!--  JS Core   -->
    <script src="static/assets/js/core/jquery.min.js"></script>
    <script src="static/assets/js/core/popper.min.js"></script>
    <script src="static/assets/js/core/bootstrap.min.js"></script>
    <script src="static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>

    <!-- Black Dashboard js -->
    <script src="static/assets/demo/demo.js"></script>
    <script>
      $(document).ready(function() {
        $().ready(function() {
          $sidebar = $('.sidebar');
          $navbar = $('.navbar');

          $full_page = $('.full-page');

          $sidebar_responsive = $('body > .navbar-collapse');
          sidebar_mini_active = true;
          white_color = false;

          window_width = $(window).width();

          fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



          $('.fixed-plugin a').click(function(event) {
            if ($(this).hasClass('switch-trigger')) {
              if (event.stopPropagation) {
                event.stopPropagation();
              } else if (window.event) {
                window.event.cancelBubble = true;
              }
            }
          });

          $('.fixed-plugin .background-color span').click(function() {
            $(this).siblings().removeClass('active');
            $(this).addClass('active');

            var new_color = $(this).data('color');

            if ($sidebar.length != 0) {
              $sidebar.attr('data-color', new_color);
            }

            if ($navbar.length != 0) {
              $navbar.attr('data-color', new_color);
            }

            if ($full_page.length != 0) {
              $full_page.attr('filter-color', new_color);
            }

            if ($sidebar_responsive.length != 0) {
              $sidebar_responsive.attr('data-color', new_color);
            }
          });

          $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
            var $btn = $(this);

            if (sidebar_mini_active == true) {
              $('body').removeClass('sidebar-mini');
              sidebar_mini_active = false;
              blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
            } else {
              $('body').addClass('sidebar-mini');
              sidebar_mini_active = true;
              blackDashboard.showSidebarMessage('Sidebar mini activated...');
            }

            var simulateWindowResize = setInterval(function() {
              window.dispatchEvent(new Event('resize'));
            }, 180);

            setTimeout(function() {
              clearInterval(simulateWindowResize);
            }, 1000);
          });

          $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
            var $btn = $(this);

            if (white_color == true) {

              $('body').addClass('change-background');
              setTimeout(function() {
                $('body').removeClass('change-background');
                $('body').removeClass('white-content');
              }, 900);
              white_color = false;
            } else {

              $('body').addClass('change-background');
              setTimeout(function() {
                $('body').removeClass('change-background');
                $('body').addClass('white-content');
              }, 900);

              white_color = true;
            }


          });

          $('.light-badge').click(function() {
            $('body').addClass('white-content');
          });

          $('.dark-badge').click(function() {
            $('body').removeClass('white-content');
          });
        });
      });
    </script>
    <script>
      $(document).ready(function() {
          
        demo.initDashboardPageCharts();

      });
    </script>
  
    <!-- ======= Pied de page ======= -->
    <footer id="footer">

      <div class="container d-md-flex py-4">

        <div class="mr-md-auto text-center text-md-left">
          <div class="copyright">
            &copy; LINFO1002 Projet 2 <strong><span>Groupe A10</span></strong>. Avril 2020
          </div>
          <div class="credits">
            Design par <a href="mailto:ralph.abona@uclouvain.be">Ralph Abona</a>
          </div>
        </div>
      </div>
    </footer>

</body>

</html>
