<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Grady</title>

  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicon/Logo -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Polices -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

  <!-- Icônes -->
  <link href="../static/assets/css/nucleo-icons.css" rel="stylesheet" />


  <!-- CSS -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">

  <link href="../static/assets/css/style.css" rel="stylesheet">

  <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../static/assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />


</head>
<body style="margin-top:100px;">

  <!-- ======= Entête ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      <div class="header-container d-flex align-items-center">
        <div class="logo mr-auto">
          <h1 class="text-light"><span></span>
          </h1>
        </div>


        <nav class="nav-menu d-none d-lg-block">
          <ul>
                <li><a href="#header">Acceuil</a></li>
                <li><a href="#pres">Présentation</a></li>
                <li><a href="#why">Pourquoi ?</a></li>
                <li><a href="#features">Fonctionalités</a></li>
                <li><a href="#team">L'équipe</a></li>
                <li><a href="#testimonials">Enseignements</a></li>
                <li class="drop-down"><a href="">À propos</a>
                  <ul>
                    <li><a href="#about">Le projet</a></li>
                    <li><a href="#">Documentation</a></li>
                    <li class="drop-down"><a href="#credits">Crédits</a>
                      <ul>
                        <li><a href="#">Html</a></li>
                        <li><a href="#">css</a></li>
                        <li><a href="#">js</a></li>
                        <li><a href="#">Images</a></li>
                        <li><a href="#">Remerciements</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <center style = "position:relative; top:25px;">
      <h2><b>Sélectionnez un cours parmis les trois ci-dessous</b></h2>
  </center>

  <center>
      <div>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" style = "position:relative; top:+20px;">
              <label class="btn btn-sm btn-primary btn-simple ">
			     <a href="/stat/LEPL1402">
                  <input type="radio" name="options" autocomplete="off" href="/stat/LEPL1402"> LEPL1402
				 </a>
              </label>
              <label class="btn btn-sm btn-primary btn-simple ">
			     <a href ="/stat/LSINF1101_PYTHON">
                  <input type="radio" name="options" autocomplete="off" href="/stat/LSINF1101_PYTHON"> LSINF1101
				 </a>
              </label>
              <label class="btn btn-sm btn-primary btn-simple ">
			     <a href = "/stat/LSINF1252">
                  <input type="radio" name="options" autocomplete="off" href="/stat/LSINF1252"> LSINF1252
				 </a>
              </label>
         </div>
      </div>
  </center>

    <table style="margin-left:25%; margin-top:30px; width:50%; border-style: solid;margin-bottom:10px;">
        <thead>
            <tr style="height:50px;">
                <th style="text-align:center;border-style: inset; color:white;">Etudiant</th>
                <th style="text-align:center;border-style: inset; color:white;">Cours</th>
                <th style="text-align:center;border-style: inset; color:white;">Tâche</th>
                <th style="text-align:center;border-style: inset; color:white;">Meilleure cote</th>
            </tr>
        </thead>
        <tbody>
			{% for name in names %}
			<tr>
				<td style="text-align:center;border-style: inset; color:white;">{{name[1]}}</td>
				<td style="text-align:center;border-style: inset; color:white;">{{name[2]}}</td>
				<td style="text-align:center;border-style: inset; color:white;">{{name[0]}}</td>
				<td style="text-align:center;border-style: inset; color:white;">{{name[3]}}</td>
			</tr>
			{% endfor %}
        </tbody>
    </table>

    <!-- Pied de page -->
    <footer id="footer">

          <div class="container d-md-flex py-4">

            <div class="mr-md-auto text-center text-md-left">
              <div class="copyright">
                &copy; LINFO1002 Projet 2 <strong><span>Groupe A10</span></strong>. Avril 2020
              </div>
              <div class="credits">
                Design par <a href="mailto:ralph.abona@uclouvain.be">Ralph Abona</a>
              </div>
            </div>
          </div>
        </footer>

</body>
</html>
